:root { 
--black_900_7f:#0000007f; 
--black_900_5e:#0000005e; 
--blue_A400:#1a6efd; 
--blue_A700:#1b6dfc; 
--gray_500_3f:#9493933f; 
--gray_800_01:#474646; 
--black_900:#000000; 
--yellow_700:#ffc33d; 
--blue_gray_100_3f:#ced3dc3f; 
--red_A400:#fc1a1a; 
--gray_700_ea:#5f5f5fea; 
--purple_A200:#ff3cdf; 
--black_900_26:#00000026; 
--gray_600:#6b6b6b; 
--black_900_a0:#000000a0; 
--gray_500:#929292; 
--gray_800:#4e4c4c; 
--black_900_c9:#000000c9; 
--blue_gray_400_3f:#8f8d8d3f; 
--blue_50:#ebf1fb; 
--gray_100:#f0f3ff; 
--black_900_75:#00000075; 
--black_900_aa:#000000aa; 
--white_A700:#ffffff; 
--black_900_ce:#000000ce; 
--indigo_500:#4b48b7; 
}